.paragrpah{
    width: 40%;
    margin: auto;
}
.box{
    padding: 32px;
    margin-top: 20px;
    background-color:darkcyan;
    color: white;
}

.title{
    font-size: 40px;
    padding-top: 18px;
}

.btnClass{
    background: #fff;
    border: 1px solid white;
    color: #000;
    margin-bottom: 22px;
}

.classBox{
    margin-top: 40px;
}

.loremPara{
    margin-top: -12px;
}

.container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
    align-items: start;
    text-align: left;
}

.innerDiv{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image{
    width: 300px;
}

.gridButton{
    margin-bottom: 20px;
}

.textBox{
    padding: 0px 18px;
    word-wrap:break-word;
}

.paraGraph{
    word-wrap:break-word;
}

.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}